@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-glow:hover {
  text-shadow: 0 0 10px 1px white; /* Change color and size as needed */
}

.pixel {
  background: repeating-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25),
    rgba(74, 245, 211, 0.25) 1px,
    transparent 1px,
    transparent 2px
  );

  mask-image: linear-gradient(
    90deg,
    #4af5d3 30%,
    rgba(74, 245, 211, 0.25) 90%,
    transparent
  );

  width: fit-content;
}

.pixeboy {
  font-family: 'pixeboy';
}

.gohu {
  font-family: 'gohuFont';
}
